
@{
    ViewBag.Title = "Créer un examen";
}

<h2>Création d'un examen</h2>

<form>
    <div class="examCreationContainer">
        <div class="creaExamTitles">
            <div class="creaExamTitle">Créer un nouvel examen</div>
            <div class="creaExamTitle">Créer un examen avec des questions aléatoires</div>
        </div>
        <div class="examPreview">
            <h3>Nom de l'examen</h3>
            <!-- Affichage des questions -->
            <div class="questionContainer">
                <h4>Question 1 : Est-ce que les ... ?</h4>
                <p><input type="checkbox" /> Réponse 1</p>
                <p><input type="checkbox" /> Réponse 2</p>
                <p><input type="checkbox" /> Réponse 3</p>
                <p><input type="checkbox" /> Réponse 4</p>
            </div>
            <div class="questionContainer">
                <h4>Question 2 : Pourquoi le ... ?</h4>
                <p><input type="checkbox" /> Réponse 1</p>
                <p><input type="checkbox" /> Réponse 2</p>
                <p><input type="checkbox" /> Réponse 3</p>
                <p><input type="checkbox" /> Réponse 4</p>
            </div>
            <!-- Fin de l'affichage des questions -->
            <input type="submit" value="Valider l'examen"/>
        </div>
        <div class="examCreation">
            <div class="examRulesBox">
                <div class="examPreviewBox">Nombre de questions de l'examen : </div>
                <div class="examPreviewBox2"><input type="number" placeholder="20"/></div>
                <div class="examPreviewBox">Durée(minutes) : </div>
                <div class="examPreviewBox2"><input type="number" placeholder="60" /></div>
                <div class="examPreviewBox">Date de fin : </div>
                <div class="examPreviewBox2"><input type="datetime" placeholder="27/05/2020"/></div>
                <div class="examPreviewBox">Nombre de tentatives autorisées : </div>
                <div class="examPreviewBox2"><input type="number" placeholder="1" /></div>
            </div>

            <div class="examRulesBox">
                <div class="examRulesBox2">
                    <div class="examPreviewBox">Type de question :</div>
                    <select>
                        <option>Choix multiples</option>
                        <option>Zone de texte</option>
                    </select>
                </div>

                <div class="examRulesBox2">
                    <input type="text" placeholder="Ecrire votre question ici..." />
                </div>

                <div class="examRulesBox2">
                    <div class="questionAnswerBox">
                        <p>Réponses possibles</p>
                    </div>
                </div>
                <div class="examRulesBox2">
                    <button>Ajouter la question à l'examen</button>
                </div>
            </div>
        </div>
    </div>
</form>