
@{
    ViewBag.Title = "Evaluation";
}

<h2>Évaluation</h2>

@foreach (var item in Model)
{
    <div>
        <p>@Html.DisplayFor(m => item)</p>
    </div>
}


<form>
    <div class="examContainer">
        <div class="questionAnswerContainer">


            <h3 class="examName"></h3>

            
            <div class="questionContainer">
                <h4></h4>
                <p><input type="radio" /> Réponse 1</p>
                <p><input type="radio" /> Réponse 2</p>
                <p><input type="radio" /> Réponse 3</p>
                <p><input type="radio" /> Réponse 4</p>
            </div>
            

            <div class="sendAnswersBar">
                <input type="submit" value="Envoyer les réponses" />
            </div>

        </div>

        <div class="infoContainer">
            <div>Informations générales de l'examen</div>
            <div>Durée</div>
            <div>Nombre de tentatives en cours</div>
        </div>
    </div>

</form>

