
@{
    ViewBag.Title = "SignIn";
}

    <form>
        <table width="20%" bgcolor="0099CC" align="center">

            <tr>
                <td colspan=2><center><font size=4><b>HTML Login Page</b></font></center></td>
            </tr>

            <tr>
                <td>Utilisateur :</td>
                <td><input type="text" size=25 name="userid"></td>
            </tr>

            <tr>
                <td>Mot de passe :</td>
                <td><input type="Password" size=25 name="pwd"></td>
            </tr>

            <tr>
                <td>Confirmer le mot de passe :</td>
                <td><input type="Password" size=25 name="pwd"></td>
            </tr>

            <tr>
                <td><input type="Reset"></td>
                <td><input type="submit" onclick="return check(this.form)" value="Login"></td>
            </tr>

        </table>
    </form>
